<div class="center hero-unit">
	<h1>Welcome to my blog</h1>
	
	<p>My name is Assylkhan Rakhatov, and I am a developer and studying at college in Kazakhstan, I can write code for back-end and front-end. If you are interested, reach <span><a href="mailto:assylkhan.rakhatov@gmail.com">assylkhan.rakhatov@gmail.com</a></span></p>
</div>
