<div class="center hero-unit">
	<h1>Welcome to my blog</h1>
	
	<p>My name is Assylkhan Rakhatov, and i am developer and studying in university in Kazakhstan, i can write codes for back-end and front end but i'm not a designer, and know css, html, javascript, coffeescript, angularjs and ruby on rails and i think that if i get a job i'll improve fast. If you are interested, write to <span><a href="mailto:assylkhan.rakhatov@gmail.com">assylkhan.rakhatov@gmail.com</a></span></p>
</div>