<div class="center hero-unit">
	<h1>Welcome to my blog</h1>
	
	<p>My name is Assylkhan Rakhatov, and i am ruby on rails developer and studying in university in Kazakhstan, i don't have any skills yet, but i can write simple codes for back-end, and naturally know css, html, javascript and i think that if i get a job i'll improve fast. If you are interested, write to <span><a href="mailto:assylkhan.rakhatov@gmail.com">assylkhan.rakhatov@gmail.com</a></span></p>
</div>