<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "My Github account",   "https://github.com/Assylkhan" %></li>
      <li><%= link_to "My practical works", "https:/http://railsangular-internet-store.herokuapp.com/" %></li>
    </ul>
  </nav>
</footer>