<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "My Github account",   "https://github.com/Assylkhan" %></li>
      <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                My practical works <b class="caret"></b>
              </a>
              <ul style="margin-right: 10px;" class="dropdown-menu">
                <li><%= link_to "Angular-rails internet store", "http://railsangular-internet-store.herokuapp.com/" %></li>
                <li><%= link_to "Sample app by Micheal Hartl", "http://aqueous-mountain-6679.herokuapp.com/" %></li>
              </ul>
    </ul>
  </nav>
</footer>